{{- if .Values.externalsecrets.enabled -}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}
  annotations:
    {{- if .Values.externalsecrets.argocd }}
    argocd.argoproj.io/sync-wave: '-2'
    {{- end }}
  labels:
    updatedata: {{ .Values.externalsecrets.updatedata | quote }}
spec:
  refreshInterval: {{ .Values.externalsecrets.interval | quote }}
  secretStoreRef:
    name: {{ .Values.externalsecrets.storeName | default "aws-secretsmanager" }}
    kind: {{ .Values.externalsecrets.storeKind | default "ClusterSecretStore" }}
  target:
    name: {{ .Release.Name }}-env
    creationPolicy: Owner

  {{- if .Values.externalsecrets.dataFrom }}
  # Use this if your AWS secret is a JSON object and you want to extract all keys:
  dataFrom:
    - extract:
        key: {{ .Values.externalsecrets.dataFrom.key | quote }}
      {{- if .Values.externalsecrets.dataFrom.version }}
        version: {{ .Values.externalsecrets.dataFrom.version | quote }}
      {{- end }}
      {{- if .Values.externalsecrets.dataFrom.versionStage }}
        versionStage: {{ .Values.externalsecrets.dataFrom.versionStage | quote }}
      {{- end }}
  {{- else }}
  # Use this if you want specific keys (single values or JSON properties):
  data:
    - secretKey: {{ .Values.externalsecrets.secretKey | quote }}
      remoteRef:
        key: {{ .Values.externalsecrets.remoteKey | quote }}
        {{- if .Values.externalsecrets.property }}
        property: {{ .Values.externalsecrets.property | quote }}   # JSON field in the AWS secret
        {{- end }}
        {{- if .Values.externalsecrets.version }}
        version: {{ .Values.externalsecrets.version | quote }}
        {{- end }}
        {{- if .Values.externalsecrets.versionStage }}
        versionStage: {{ .Values.externalsecrets.versionStage | quote }}
        {{- end }}
  {{- end }}
{{- end }}
